.historyContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.btn.btn-primary.deleteHistory {
  font-size: 14px;
  background-color: #ff4b5c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.btn-primary.deleteHistory:hover {
  background-color: #e63946;
}

.todoCard.incomplete {
  background-color: rgba(255, 69, 58, 0.15); /* Rojo claro */
  text-decoration: none;
  color: #ff453a; /* Rojo */
}

.todoCard.incomplete:hover {
  border: 1px solid #ff453a;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
  margin-top: 20px;
  text-align: center;
}

h4 span {
  font-weight: 700;
  color: #333;
}

@media (width <= 817px) {
  .container2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 539px) {
  .container2 {
    grid-template-columns: 1fr;
  }
}
